<nav class="navbar">
  <a class="navTitle" href="/">Wild Series Accueil</a>
  <div class="navbarItem">
    <ul>
      <li>
        <a class="nav-link" href="/programs">Séries</a>
      </li>
      <li>
        <a class="nav-link" href="#">Favoris</a>
      </li>
      <li>
        <a class="nav-link" href="#">Connection</a>
      </li>
    </ul>
  </div>
</nav>
