{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    <h1>Acteur</h1>
    
    
        <p>{{ actor.id }} {{ actor.name }}</p>

    <h2>Série associé<h2>
    {% for program in actor.programs %}

        <a href="{{ path('program_show', {'id': program.id}) }}"><p>{{ program.title }}</p></a>
    {% endfor %}
{% endblock %}