body {
    background-color: lightgray;
}

@import "~bootstrap/scss/bootstrap";

$themes-colors: (
    "primary": #033649,
    "secondary": #036564,
    "tertiary": #CDB380
);

.navbar a {
    display: flex;
    text-decoration: none;
    color:white;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin: auto;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #036564;
}

.navTitle {
    font-size: 2.2em;
}